global
    maxconn 10000
    nbthread 1
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 2s
    timeout client 30s
    timeout server 30s
    no log

frontend rinha_frontend
    bind *:9999
    option tcp-smart-accept
    option http-keep-alive
    default_backend node_servers

backend node_servers
    balance roundrobin
    
    option http-keep-alive
    http-reuse always
    
    option tcp-smart-connect

    server api-1 /tmp/sockets/api-1.sock maxconn 5000
    server api-2 /tmp/sockets/api-2.sock maxconn 5000
